#ignore .env file
*.env
AWS-SDK-Examples/Lambda/HelloWorld/main.zip
AWS-SDK-Examples/Lambda/HelloWorld/main
AWS-SDK-Examples/Lambda/PostgresCopy/main
AWS-SDK-Examples/Lambda/PostgresCopy/main.zip
AWS-SDK-Examples/Lambda/PostgresUpdate/main
AWS-SDK-Examples/Lambda/PostgresUpdate/main.zip
